main {
  display: flex;
  flex-grow: 1;
  background-color: #f7f6f9;
  height: 100%;
  align-items: center;
  min-height: 100%;
  padding: 0 32px;
  margin: 0;
  }
  
  main {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

main .topControls { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  width: 800px;
}

main .listingControls {
  display: flex;
  gap: 8px;
  margin-left: 106px;
}

main .customSelect {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 106px;
  height: 10px;
  text-align: center;
}

main .daysControls {
  all: unset;
  font-family: sans-serif;
}

.main-container {
  padding:10px;
  height: 180px;
  border-radius: 12px;
  background-color: #fff; 
}
.bottom-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 600px;
  height: 120px;
  align-items: center;
  border-radius: 12px;
}

.bottom-cards .card {
  width: 31%;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.bottom-cards .card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.bottom-cards .card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
#bottomcard1{
  width:350px;
  height:150px;
  margin-right: 10px;
}

#bottomcard2 {
  background-color: rgb(90, 4, 90);
  width:80px; 
  height:150px;
  color: white;
  text-align: left;
}
#bottomcard3 {
  background-color: rgb(90, 4, 90);
  width:80px; 
  height:150px;
  color: white;
  text-align: center;
}

#bottomcard2 h1{
  font-size: 28px ;
}

.bottom-cards .card p {
  display: inline-block; 
  vertical-align: middle; 
}


.bottom-cards .card p {
  color: white;
  text-align: center;
  margin-top: 3px;
} 

.bottom-cards .card hr{
  color: black;
}
.bottom-cards .card span{
  font-size: 12px;
}

